@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro:</h1>
<h2 class="text-danger" style="font-size: 25px;">Para o bom funcionamento do sistema, não é permitido deletar um departamento cujos vendedores cadastrados possuem vendas.</h2>

<a asp-action="Index" class="btn btn-success text-white">Voltar</a>