@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <p style="font-size: 19px !important;">CRUD de departamentos e vendedores feito com c#, modelo MVC(Model View Controller) e banco de dados MySql.</p>
</div>

